<div class="container py-5">
  <div class="d-flex flex-column col-6 offset-3">
    <div class="h2 text-center">BOOKING REF: #<%= @booking.id %></div>
    <div id="booking-info" class="py-3">
    <strong>Lair Booked:</strong> <%=link_to @booking.lair.name, @booking.lair %><br>
    <strong>Lair Owner:</strong> <%= link_to @booking.lair.user.title, @booking.lair.user %><br>
    <strong>Renting Villain:</strong> <%= link_to @booking.user.title, @booking.user %><br>
    </div>
    <div id="dates-and-price" class="py-3">
    <strong>Start Date:</strong> <%= @booking.start_date %><br>
    <strong>End Date:</strong> <%= @booking.end_date %><br>
    <strong>Total Days:</strong> <%= @days %><br><br>
    <strong>Total Price:</strong> $<%= '%.2f' % @total_price %><br>
    <strong>Current Status:</strong> <%= @booking.status.titleize %><br>
    </div>
    <div class="d-flex flex-fill justify-content-around py-3">
      <%= simple_form_for(@booking, as: :booking, method: :get, url: reject_booking_path) do |f| %>
        <%= f.submit 'CANCEL BOOKING', class: 'btn btn-danger' %>
      <% end %>
      <%= simple_form_for(@booking, as: :booking, method: :get, url: accept_booking_path) do |f| %>
        <%= f.submit 'ACCEPT BOOKING', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>