
  <div id="booking-info" class="d-flex flex-column col-6">
    <div><strong>Lair Booked:</strong> <%=link_to @booking.lair.name, @booking.lair %></div>
    <div><strong>Lair Owner:</strong> <%= link_to @booking.lair.user.title, @booking.lair.user %></div>
    <div><strong>Booking User:</strong> <%= link_to @booking.user.title, @booking.user %></div>
    <div><strong>Start Date:</strong> <%= @booking.start_date %></div>
    <div><strong>End Date:</strong> <%= @booking.end_date %></div>
    <hr>
    <div><strong>Total Days:</strong> <%= @days %></div>
    <div><strong>Total Price:</strong> $<%= '%.2f' % @total_price %></div>
    <div><strong>Current Status:</strong> <%= @booking.status %></div>
    <hr>
    <div class="d-flex col-6 justify-content-around">
    <%= simple_form_for(@booking, as: :booking, method: :get, url: reject_booking_path) do |f| %>
      <%= f.submit 'CANCEL BOOKING', class: 'btn btn-danger' %>
    <% end %>
    <%= simple_form_for(@booking, as: :booking, method: :get, url: accept_booking_path) do |f| %>
      <%= f.submit 'ACCEPT BOOKING', class: 'btn btn-success' %>
    <% end %>
    </div>
  </div>