  
<div class="container">
  <div id="booking-info" class="col-6 offset-3 py-5">
    <h1>BOOKING INFO: #<%= @booking.id %></h1>
    <strong>Lair Booked:</strong> <%= link_to @booking.lair.name, @booking.lair %> <br>
    <strong>Lair Owner:</strong> <%= link_to @booking.lair.user.title, @booking.lair.user %> <br>
    <strong>Booking User:</strong> <%= link_to @booking.user.title, @booking.user %> <br>
    <strong>Start Date:</strong> <%= @booking.start_date %> <br>
    <strong>End Date:</strong> <%= @booking.end_date %> <br>
    <%= link_to "Send a Message?", conversation_messages_path(@conversation) %>
    <hr>
    <strong>Total Days:</strong> <%= @days %> <br>
    <strong>Total Price:</strong> $<%= '%.2f' % @total_price %> <br>
    <strong>Current Status:</strong> <%= @booking.status.titleize %> <br>
    <hr>
    <% if current_user == @booking.lair.user %>
      <div class="d-flex flex-fill justify-content-around py-3">
        <%= simple_form_for(@booking, as: :booking, method: :get, url: reject_booking_path) do |f| %>
          <%= f.submit 'REJECT BOOKING', class: 'btn btn-danger' %>
        <% end %>
        <%= simple_form_for(@booking, as: :booking, method: :get, url: accept_booking_path) do |f| %>
          <%= f.submit 'ACCEPT BOOKING', class: 'btn btn-success' %>
        <% end %>
      </div>
    <% elsif current_user == @booking.user %>
      <div class="d-flex flex-fill justify-content-around py-3">
        <%= simple_form_for(@booking, as: :booking, method: :get, url: reject_booking_path) do |f| %>
          <%= f.submit 'REJECT BOOKING', class: 'btn btn-danger' %>
        <% end %>
      </div>
    <% else %>
      <%# do not display anything %>
    <% end %>
  </div>
</div>