<h1>Lairs#new</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 message">
      <h1>Add a Lair</h1>
        <%= simple_form_for @lair do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :address %>
        <%= f.input :price_per_night %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, class: 'btn btn-link' %>
        <% end %>
      </div>
    </div>
  </div>
</div>


