  
    <strong>Listing Name:</strong> <%= @lair.name %> <br>
    <strong>Owner:</strong> <%= @lair.user.title %> <br>
    <strong>Price per night:</strong> <%= @lair.price_per_night %>
  
  <hr>
  <h3>Book This Lair</h3>
  <div id="booking-form">
  <%= simple_form_for([@lair, @booking], url: confirm_booking_url) do |f| %>
  <div class="form-row">
  <%= f.input :start_date, as: :string, input_html: {type: :date} %>
  </div>
  <div class="form-row">
  <%= f.input :end_date, as: :string, input_html: {type: :date} %>
  </div>
  <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
  </div>