<% @lair.reviews.each do |review| %>
<div class = "card" style="height: 600px; margin:auto;">

  <p> Title: <%= review.title %></p>
  <p> User: <%= review.user.title %> </p>
  <p> Rating: <%= review.rating%> </p>
  <p> Description: <%= review.description %> </p> <br>
  <% if current_user == @lair.user %>
    <%= link_to review_path(review), class:"btn btn-info", method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="fa fa-trash destroy_review"></i>
  <% end%>
  <% end %>
<% end %>
</div>
